/* line 16, ../sass/style.scss */
html,
body {
  font-family: "Raleway", sans-serif;
  font-smoothing: antialiased;
  height: 100%;
  background-color: #f6f6f6;
  margin: 0 auto;
}

/* line 24, ../sass/style.scss */
a {
  color: inherit;
  text-decoration: none !important;
}

/* line 29, ../sass/style.scss */
.col-lg-12 {
  text-align: center;
  margin-bottom: 25px;
  padding-right: 0;
  padding-left: 0;
}

/* line 38, ../sass/style.scss */
p {
  background: antiquewhite;
  width: fit-content;
  margin: auto;
  border-radius: 40px;
  padding: 8px;
  font-size: 17px;
  margin-top: 10px;
  font-weight: 200;
}

/* line 49, ../sass/style.scss */
#navbar ul {
  list-style: none;
  margin: 0;
  background-color: #6e6868d9;
  font-family: 'Old Standard TT', serif;
  width: 100%;
}

/* line 56, ../sass/style.scss */
#navbar ul li {
  display: inline-block;
  margin: 20px;
}

/* line 60, ../sass/style.scss */
#navbar ul li a {
  padding-bottom: 10px;
  text-decoration: none;
  color: #fff;
}

/* line 65, ../sass/style.scss */
#navbar ul li a,
#navbar ul li a:after,
#navbar ul li a:before {
  transition: all .5s;
}

/* line 70, ../sass/style.scss */
#navbar ul li a:hover {
  color: antiquewhite;
}

/* stroke */
/* line 75, ../sass/style.scss */
#navbar.stroke ul li a {
  position: relative;
}

/* line 79, ../sass/style.scss */
#navbar.stroke ul li a:after,
#navbar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: antiquewhite;
  height: 1px;
}

/* line 92, ../sass/style.scss */
#navbar.stroke ul li a:hover:after {
  width: 100%;
}

/* line 96, ../sass/style.scss */
#navbar ul li a {
  transition: all 1s;
}

/* line 100, ../sass/style.scss */
#navbar ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

/* line 106, ../sass/style.scss */
#navbar ul li a:hover {
  color: antiquewhite;
  z-index: 1;
}

/* line 110, ../sass/style.scss */
#navbar ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}

/* line 118, ../sass/style.scss */
#top p:hover {
  background: #818181;
  text-decoration: none;
  color: white;
}
/* line 124, ../sass/style.scss */
#top a {
  font-family: 'Old Standard TT', serif;
}
/* line 127, ../sass/style.scss */
#top h4 {
  font-family: 'Old Standard TT', serif;
  color: #818181;
  font-size: 20px;
  padding: 80px;
}

/* line 134, ../sass/style.scss */
.content {
  padding: 16px;
}

/* line 140, ../sass/style.scss */
h1 {
  display: block;
  font-size: 100px;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0 !important;
  position: relative;
  text-align: center;
  padding-top: 80px;
}

/* line 151, ../sass/style.scss */
h3 {
  font-size: 16px;
  font-family: 'Old Standard TT', serif;
  color: #818181;
}

/* line 160, ../sass/style.scss */
#projects .col-lg-12 {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}
/* line 166, ../sass/style.scss */
#projects img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
  object-fit: cover;
  image-rendering: optimizeQuality;
}

/* line 175, ../sass/style.scss */
#about {
  margin: 0;
  min-height: 55%;
  padding: 80px 0;
}
/* line 180, ../sass/style.scss */
#about h2 {
  display: block;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0 !important;
  margin-after: .83em;
  margin-before: .83em;
  padding-bottom: 50px;
  text-align: center;
}
/* line 192, ../sass/style.scss */
#about h2after {
  bottom: 30px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100px;
}
/* line 204, ../sass/style.scss */
#about div {
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4em;
  text-indent: 25px;
}

/* line 214, ../sass/style.scss */
#contact {
  font-size: 25px;
}
/* line 217, ../sass/style.scss */
#contact strong {
  color: black;
}

@media (min-width: 1024px) {
  /* line 223, ../sass/style.scss */
  #menu-button {
    font-size: 14px;
    left: 2.5em;
    position: fixed;
    top: 2.5em;
    z-index: 2;
  }

  /* line 231, ../sass/style.scss */
  .container {
    padding-right: 0;
    padding-left: 0;
  }

  /* line 239, ../sass/style.scss */
  #home h1 p {
    font-size: 42px;
    font-weight: 400;
  }
  /* line 244, ../sass/style.scss */
  #home h1 strong {
    font-size: 46px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 253, ../sass/style.scss */
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  /* line 260, ../sass/style.scss */
  #home h1 p {
    font-size: 38px;
    font-weight: 400;
  }
  /* line 265, ../sass/style.scss */
  #home h1 strong {
    font-size: 42px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 274, ../sass/style.scss */
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  /* line 281, ../sass/style.scss */
  #top h1 p {
    font-size: 30px;
    font-weight: 400;
  }
  /* line 286, ../sass/style.scss */
  #top h1 strong {
    font-size: 34px;
  }

  /* line 293, ../sass/style.scss */
  #contact button {
    font-size: .7em;
  }
  /* line 297, ../sass/style.scss */
  #contact p {
    font-size: .7em;
  }
}
/* line 304, ../sass/style.scss */
.middle-beige-font {
  color: #faebd7 !important;
}

/* line 308, ../sass/style.scss */
.middle-beige-background {
  background-color: #faebd7;
}

/* line 312, ../sass/style.scss */
.center {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* line 319, ../sass/style.scss */
.container-fluid {
  min-height: 100%;
  width: 100%;
}

/* line 325, ../sass/style.scss */
.fill {
  height: auto;
  min-height: 100%;
  background-color: #f6f6f6;
}

/* line 331, ../sass/style.scss */
.footer {
  bottom: 0;
  min-height: 30%;
  position: relative;
}
/* line 336, ../sass/style.scss */
.footer .container {
  left: 50%;
  padding-top: 1.3em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* line 346, ../sass/style.scss */
.fixed-width {
  max-width: 300px;
  min-width: 300px;
}

/* line 351, ../sass/style.scss */
.email {
  font-size: .9em;
  height: 2.4em;
  width: 8.7em;
}

/* line 358, ../sass/style.scss */
.typed-cursor {
  -webkit-animation: blink .7s infinite;
  -moz-animation: blink .7s infinite;
  animation: blink .7s infinite;
  opacity: 1;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
