/* line 1, ../sass/style5.scss */
header {
  background-color: #e8e8e8;
}

/* line 5, ../sass/style5.scss */
h1 {
  font-family: Raleway;
  display: block;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0 !important;
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

/* line 29, ../sass/style5.scss */
#navbar ul {
  list-style: none;
  margin: 0;
  font-family: raleway;
  width: 100%;
  font-weight: 300;
  text-align: center;
}

/* line 38, ../sass/style5.scss */
#navbar ul li {
  display: inline-block;
  margin: 13px;
}

/* line 42, ../sass/style5.scss */
#navbar ul li a {
  padding-bottom: 10px;
  text-decoration: none;
  color: #c0a9a9;
}

/* line 47, ../sass/style5.scss */
#navbar ul li a,
#navbar ul li a:after,
#navbar ul li a:before {
  transition: all .5s;
}

/* line 52, ../sass/style5.scss */
#navbar ul li a:hover {
  color: #6e6868d9;
}

/* line 56, ../sass/style5.scss */
#navbar.stroke ul li a {
  position: relative;
}

/* line 60, ../sass/style5.scss */
#navbar.stroke ul li a:after,
#navbar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #6e6868d9;
  height: 1px;
}

/* line 73, ../sass/style5.scss */
#navbar.stroke ul li a:hover:after {
  width: 100%;
}

/* line 77, ../sass/style5.scss */
#navbar ul li a {
  transition: all 1s;
}

/* line 81, ../sass/style5.scss */
#navbar ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

/* line 87, ../sass/style5.scss */
#navbar ul li a:hover {
  color: #6e6868d9;
  z-index: 1;
}

/* line 91, ../sass/style5.scss */
#navbar ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}

/* line 98, ../sass/style5.scss */
:root {
  font-size: 10px;
}

/* line 102, ../sass/style5.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 108, ../sass/style5.scss */
body {
  min-height: 100vh;
  background-color: #fafafa;
}

/* line 113, ../sass/style5.scss */
.container {
  max-width: 100rem;
  margin: 0 auto;
  margin-top: 3%;
  padding: 0 2rem 2rem;
}

/* line 120, ../sass/style5.scss */
h2 {
  font-family: cantata one;
  color: #956d6d;
  font-size: 40px;
  text-align: center;
}

/* line 128, ../sass/style5.scss */
.heading {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: #1a1a1a;
}

/* line 138, ../sass/style5.scss */
.heading span {
  display: block;
}

/* line 142, ../sass/style5.scss */
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
}

/* line 148, ../sass/style5.scss */
.gallery-item {
  flex: 1 0 20rem;
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

/* line 155, ../sass/style5.scss */
.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

/* line 163, ../sass/style5.scss */
.gallery-image:hover {
  transform: scale(1.15);
}

@supports (display: grid) {
  /* line 168, ../sass/style5.scss */
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
  }

  /* line 174, ../sass/style5.scss */
  .gallery,
  .gallery-item {
    margin: 0;
  }
}
