$phone: "(min-width: 320px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

body{
height: 100%;
margin: 0 auto;
}

header {
    background-color: #e8e8e8;
    text-align: center;
}

h1{
    font-family: Raleway;  
    display: block;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 5px;
    margin: 0 !important;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
  }
h2{
    font-family: cantata one;
    color:#956d6d;
    font-size: 37px;
}

a{
    text-align: center;
}

.row {
    margin-right: 0;
    margin-left: 0;
}
#navbar ul {
  list-style: none;
  margin:0;
  font-family: raleway;  
  width: 100%;
  font-weight: 300;
  
}
#navbar ul li {
  display: inline-block;
	margin: 13px;
}
#navbar ul li a {
  padding-bottom: 10px;
  text-decoration: none;
  color:#c0a9a9;
}
#navbar ul li a,
#navbar ul li a:after,
#navbar ul li a:before {
  transition: all .5s;
}
#navbar ul li a:hover {
  color:#6e6868d9;
}

/* stroke */
#navbar.stroke ul li a
{
  position: relative;
}
#navbar.stroke ul li a:after,
#navbar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #6e6868d9;
  height: 1px;
}
#navbar.stroke ul li a:hover:after {
  width: 100%;
}

#navbar ul li a {
  transition: all 1s;
}

#navbar ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
#navbar ul li a:hover {
  color: #6e6868d9;
  z-index: 1;
}
#navbar ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}

.container-fluid{
    padding-right:0;
    padding-left:0;
}
main{

    .col-xs-12{
    margin-left: 14%;   
    text-align:center;
     a{
         color: white;
         text-decoration: none;
        } 
    }
}
.menu-restaurant{
    width: 50%;
    float: left;
    padding: 15px;
    position: relative;
}

ul{
    margin-top:22px;
    margin-bottom: -10px;
    padding-left:0;
    font-family: old standard tt;
}
.menu-restaurant .menu-title {
    float: left;
    font-family: Montserrat,arial;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000bf;
    }
.menu-restaurant .menu-line {
    position: absolute;
    bottom: 6px;
    border-bottom: 1px dotted rgba(0,0,0,.3);
    margin-left: .6rem;
    margin-right: .6rem;
}
.menu-restaurant .menu-price {
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
    color:#956d6d;
}
.menu-restaurant .menu-subtitle {
    display: block;
    float: left;
    color: #B1B1B1;
    font-family: Satisfy,'Open Sans',arial;
    font-size: 1.2rem;
}
.menu-restaurant span.clearfix {
    position: relative;
    display: block;
}

#menu-flters ul li a.active, #menu-flters ul li a:hover {
    background: #b6a893b8;
    color: #fff;
    border: 1px solid #b6a893b8;;
    color: #fff;
    border: 1px solid #b6a893b8;
}
#menu-flters ul li {
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
#menu-flters ul li a {
    padding: 9px 19px;
    font-size: 14px;
    color: #565656;
    border-radius: 0px;
    border: 1px solid #BBBBBB;
    text-decoration: none;
    cursor: pointer;
}

.footer {
    width: 100%;
    background-color: #222;
    position: relative;
    z-index: 1;
}
.footer a {
    color: #fff;
}

.footer .footer-top {
    padding-top: 9rem;
    padding-bottom: 5rem;
}
.footer .widget-title, .footer .widget-title a {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #999;
}
.footer .widget-title{
    padding-bottom: 20px;
    font-family: 'Satisfy', sans-serif;
    font-size: 44px;
    color: #FFB03B;
}
.footer .widget, .footer address {
    color: #999;
    text-transform: none;
    font-style: normal;
    padding-bottom: 15px;
}
.footer .navigation, .footer .social-list {
    float: none;
    margin-bottom: 20px;
}
.list-horizontal li {
    display: inline-block;
}
#contact{
    background-color: rgba(221, 221, 221, 0.33);
}
.footer .social-list a {
    font-size: 32px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    margin: 0 5px;
}
@media (min-width: 768px) and (max-width: 980px) {
    .content-holder h2 {
        font-size: 23px;
    }
    .details-text p {
        line-height: 16.6px;
    }
}
@media (min-width: 451px) and (max-width: 767px) {
    .details-text {
        border:0px;
        border-bottom: 2px solid #A87F41;
    }
}
@media (min-width: 20px) and (max-width: 450px) {
    .menu-restaurant {
    width: 100%;
    }
    .details-text {
        border:0px;
        border-bottom: 2px solid #A87F41;
    }
    .header-h {
        font-size: 35px;
    }
    .header-p, body{
        font-size: 14px;
    }
    .about-info, .mr-15{
        margin-bottom: 15px;
    }

}

