$font-base:  "Raleway", sans-serif;
$font-about:  "Droid Serif", sans-serif;

$dark-grey:   #222426;
$middle-blue: #f3e9e8;
$light-white: #fdfdff;
$light-blue:  #edf9f9;
$dark-blue:  #546a7b;
$sidebar-color: rgba($dark-blue, .95);
$sidebar-item-color: rgba($dark-blue, 0);

$phone: "(min-width: 320px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

html,
body {
  font-family: $font-base;
  font-smoothing: antialiased;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.col-lg-12{
  text-align: center;
  margin-bottom: 25px;
}

.col-md-12{
  margin-top: 60px;
}
p{
    background: antiquewhite;
    width: fit-content;
    margin: auto;
    border-radius: 40px;
    padding: 8px;
    font-size: 17px;
    margin-top: 10px;
}

#navbar {
  overflow: hidden;
  background-color: #faebd7;
}

#navbar a {
  float: left;
  display: block;
  color: #3a3231;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#top{
  margin: 20px;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


img{
  width: 300px;
    overflow: hidden;

}

h1{
  display: block;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0 !important;
  position: relative;
  text-align: center;
  padding-top: 50px;
}

h3{
  font-size:16px;
  font-family: 'Old Standard TT', serif;
  color:#7f7b7b;
}

#projects {
  background-color: darkgrey;
  padding: 80px 0;
  background-image: url("bar.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  h2 {
    display: block;
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 5px;
    margin: 0 !important;
    margin-after: .83em;
    margin-before: .83em;
    padding-bottom: 50px;
    position: relative;
    text-align: center;
    color: antiquewhite;

    &after {
      bottom: 30px;
      content: "";
      display: block;
      height: 3px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 100px;
    }
  }
}

#about {
  margin: 0;
  min-height: 55%;
  padding: 80px 0;

  h2 {
    display: block;
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 5px;
    margin: 0 !important;
    margin-after: .83em;
    margin-before: .83em;
    padding-bottom: 50px;
    // position: relative;
    text-align: center;

    &after {
      bottom: 30px;
      content: "";
      display: block;
      height: 3px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 100px;
    }
  }

  div {
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-indent: 25px;
  }
}

#contact {
  background-color: white;
  font-size: 25px;

  strong {
    color: black;
  }
}

@media #{$desktop} {
  #menu-button {
    font-size: 14px;
    left: 2.5em;
    position: fixed;
    top: 2.5em;
    z-index: 2;
  }

  #home {
    h1 {

      p {
        font-size: 42px;
        font-weight: 400;
      }

      strong {
        font-size: 46px;
      }
    }
  }
}

@media #{$tablet} {
  #menu-button {
    font-size: 12px;
    left: 2.5em;
    position: fixed;
    top: 2.5em;
    z-index: 2;
  }

  #home {
    h1 {

      p {
        font-size: 38px;
        font-weight: 400;
      }

      strong {
        font-size: 42px;
      }
    }
  }
}

@media #{$phone} {
  #menu-button {
    font-size: 10px;
    left: 2.5em;
    position: fixed;
    top: 2.5em;
    z-index: 2;
  }

  #home {
    h1 {

      p {
        font-size: 30px;
        font-weight: 400;
      }

      strong {
        font-size: 34px;
      }
    }
  }

  #contact {
    button {
      font-size: .7em;
    }

    p {
      font-size: .7em;
    }
  }
}

.light-white-font {
color: black;}

.middle-beige-font {
  color: #faebd7 !important;
}

.middle-beige-background {
  background-color: #faebd7;
}


.center {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container-fluid {
  min-height: 80%;
  padding: 0;
}

.fill {
  height: 100%;
  min-height: 100%;
}

.footer {
  bottom: 0;
  min-height: 30%;
  position: relative;

  .container {
    left: 50%;
    padding-top: 1.3em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: white;
  }
}

.fixed-width {
  max-width: 300px;
  min-width: 300px;
}

.email {
  font-size: .9em;
  height: 2.4em;
  width: 8.7em;
}

// typed.js stuff
.typed-cursor {
  -webkit-animation: blink .7s infinite;
  -moz-animation: blink .7s infinite;
  animation: blink .7s infinite;
  opacity: 1;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
